/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 980px;
 height: 600px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin: 20px 0px;
 display: inline-flex;
}
#main_content{
 height: 400px;
 width: 730px;
 background-color: red;
 float: right;
 padding: 10px;
 margin: 20px 4px;
 display: inline-block;
}
#box1, #box2, #box3{
 height: 200px;
 width: 210px;
 margin: 5px 10px 5px 5px;
 float: top;
 display: inline-block;
 background-color: yellow;
}
#advertisement{
 height: 120px;
 width: 670px;
 background-color: purple;
 margin: 20px 5px 5px 5px;
 float: bottom;
 display: inline-block;
}